.custom-button {
    font-family: 'Rubik', sans-serif;
    min-width: 180px;
    font-size: 15px;
    font-weight: 300;
    width: auto;
    padding: 0 1.2%;
    height: 50px;
    letter-spacing: 0.5px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(282deg,#4B5C01 90%, #8EAE01);

    &:hover, &:active {
        transition: 0.3s;
        box-shadow: inset 20em 0 0 0 #8EAE01;
        background: linear-gradient(270deg,#4B5C01, #8EAE01 96%);
    }
    
    &.facebook-sign-in {
        background: #3b5998;
        color: white;
    
        &:hover {
            box-shadow: none;
            background: #8b9dc3;
            border: none;
            color: white;
        }    
    }
    
    &.inverted {
        background: white;
        color: #4B5C01;
        border: 1px solid #4B5C01;

        &:hover {
            box-shadow: none;
            background: #4B5C01;
            color: white;
        }
    }
}

