.collection-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        margin-bottom: 38px;
    }

    .preview {
        display: flex;
        justify-content: space-between;
    }
}