.collection-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

    .title {
        margin-bottom: 25px;
    }

    .preview {
        display: flex;
        justify-content: space-between;
    }
}