.sign-in {
    width: 360px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .facebook-sign-in {
        margin-top: .675em;
    }
    
    .register {
        text-align: center;
        margin-top: 24px;
        font-size: 14px;

        span {
            font-weight: 600;
            margin-left: 1%;
        }

        &:hover {
            color: #4B5C01;
        }
    }
}

