.navigation {
    width: 100%;
    border-top: solid 1px #f2f2f2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    height: 60px;

    a {
        margin: 0 40px;
        padding: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

   
}