$error-color: #ff3232;

.alert-error {
    min-width: 165px;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
    color: $error-color;
    border: 1px solid $error-color;
    text-align: center;

    .error-prepend {
        height: calc(100% + 1px);
        border-radius: 5px 0 0 5px;
        width: 18%;
        background-color: $error-color;
        justify-content: center;

        .error-icon {
            height: 24px;
            width: 24px;
            border-radius: 18px;
            z-index: 10;
            border: $error-color;
        }
    }

    .t {
        color: rgb(255, 53, 53);
        margin: 0 auto;
    }
}