.sign-up {
    display: flex;
    flex-direction: column;
    width: 360px;

    .sh {
        margin-bottom: .475em;
    }

    .t {
        color: rgba(0,0,0, 0.5);
    }

    .custom-button {
        width: 100%;
    }
}