.product-item {
    margin-top: 40px;

    .item {
        display: flex;

        .custom-button {
            height: 45px;
            margin: 20px 8px 20px 0;
            width: 220px;
        }

        .product-image {
            width: 40%;
            height: 600px;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
        }

        .infos {
            width: 60%;
            padding: 0 40px;

            .title {
                margin-bottom: 48px;
            }
            
            .price {
                font-size: 22px;
                margin-bottom: 20px;
            }
            
            .description {
                margin-bottom: 36px;
            }

            .divider {
                border-bottom: 1px solid #e8e8e8;
                margin-bottom: 16px;
            }

            .stock {
                display: block;
                font-size: 16px;
                margin-bottom: 27px;
            }

            .add-to-cart {
                .quantity {
                    display: flex;
                    width: 140px;
                    justify-content: space-between;
                    align-items: center;

                    .qtd {
                        border-radius: 5px;
                        border: 1px solid #e8e8e8;
                        padding: 3px 4px;
                    }
                }

                .buttons {
                    display: flex;
                }

            }

            .links {
                display: flex;
                justify-content: space-between;
            }
        }
   
    }
   
}

.alert-success {
    width: 350px;
    height: 40px;
}

.related-products {
    margin-top: 60px;
}

@media screen and (min-width: 880.1px) {
    .links {
        align-items: center;
        margin-bottom: 24px;
    }
  }

@media screen and (max-width: 880px) {
    .product-item {
        .item {

            .custom-button {
                height: 40px;
                width: 100%;
                margin: 0 0 16px 0;
    
                &:first-child {
                    margin: 24px 0 8px 0;
                }
            }

            .product-image {
                height: 550px;
            }
            
            .links {
                flex-direction: column;
                align-items: flex-start;
                height: 50px;
                margin-bottom: 0;
            }
          
            .infos {
                height: 550px;

                .title {
                    margin-bottom: 24px;
                }

                .social-share {
                    margin: 16px 0;
                    min-width: 70%;
                }
            }

            .add-to-cart {
                .buttons {
                    flex-direction: column;
                }
            }
        }

        
    }
    
}

@media screen and (max-width: 670px) {
    .product-item {
        .item {
            flex-direction: column;
            align-items: center;

            .product-image {
                width: 280px;
                height: 280px;
                background-size: contain;
                background-repeat: no-repeat;
                border-bottom: 6px solid #8EAE01;
                border-radius: 0px;
                margin-bottom: 16px;
            }

            .infos {
                width: 100%;
                text-align: center;
                border-radius: 0px;
                padding: 0 16px;
                height: auto;

                .social-share {
                    margin: 24px auto 0 auto;
                }
            }

            .links {
                align-items: center;
            }

            .add-to-cart {
                .quantity {
                    margin: 0 auto;
                }

            }
        }
    }
}