.product-item {
    margin-top: 60px;

    .item {
        display: flex;

        .product-image {
            width: 40%;
            height: 600px;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
        }

        .infos {
            width: 60%;
            padding: 0 40px;

            .title {
                margin-bottom: 48px;
            }
            
            .price {
                font-size: 22px;
                margin-bottom: 20px;
            }
            
            .description {
                margin-bottom: 36px;
            }

            .divider {
                border-bottom: 1px solid #e8e8e8;
                margin-bottom: 15px;
            }

            .stock {
                display: block;
                font-size: 16px;
                margin-bottom: 27px;
            }

            .add-to-cart {
                .quantity {
                    display: flex;
                    width: 140px;
                    justify-content: space-between;
                    align-items: center;

                    .qtd {
                        border-radius: 5px;
                        border: 1px solid #e8e8e8;
                        padding: 3px 4px;
                    }
                }

                .buttons {
                    display: flex;


                    .custom-button {
                        height: 45px;
                        margin: 20px 8px 20px 0;
                        width: 220px;
                    }
                }
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }
   
    }
   
}

.alert-success {
    width: 350px;
    height: 40px;
}

.related-products {
    margin-top: 60px;
}