.directory-menu {
    width: 100%;
    display: flex;
    flex-direction: column;

    .directory-title {
        margin: 40px auto 40px auto;
    }

    .directory-items {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1181px) {
    .directory-items {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1180px) {
    .directory-items {
        justify-content: center;
    }
}

@media screen and (max-width: 490px) {
    .directory-title {
        font-size: 30px;
        text-align: center;
    }
}
