.directory-menu {
    display: flex;
    flex-direction: column;

    .directory-title {
        margin: 40px auto 20px auto;
    }

    .directory-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}