* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 87.5%;
    font-weight: 300;
    background: white;
    color: #000000;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1080px) {
    body {
        font-size: 80%;
    }
}

@media screen and (max-width: 720px) {
    body {
        font-size: 72%;
    }
}