.cart-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 15px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }
  
    .item-title {
      color: #4B5C01;
      width: calc(100% - 60px);
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .name {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 500;
      }

      .item-details {
        font-size: 15px;

        .quantity {
          padding-left: 10px;
      }
      }
    }
  }
  