.cart-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 15px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }
  
    .item-title {
      color: #4B5C01;
      width: calc(100% - 60px);
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .name {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 500;
      }

      .item-details {
        font-size: 15px;

        .quantity {
          padding-left: 10px;
      }
      }
    }
  }

  @media screen and (max-width: 735px) {
    .cart-item {
      height: 55px;
      margin-bottom: 13px;
    }

    img {
      height: 55px;
      width: 55px;
    }

    .item-title {
      width: calc(100% - 55px);
      padding-left: 9px;

      .name {
        font-size: 14.7px;
      }

      .item-details {
        font-size: 13.2px;

        .quantity {
          padding-left: 9px;
        }
      }
    }
  }
  

  @media screen and (max-width: 520px) {
    .cart-item {
      height: 50px;
      margin-bottom: 11px;

      img {
        height: 50px;
        width: 50px;
      }

      .item-title {
        width: calc(100% - 50px);
        padding-left: 8px;

        .name {
          font-size: 13px;
        }

        .item-details {
          font-size: 11.5px;

          .quantity {
            padding-left: 8px;
          }
        }
      }
    }
  }