@mixin position {
    position: absolute;
    top: 50%;
    left: 90.5%;
    transform: translate(-90.5%, -50%);
}

.banner {
    width: 100vw;
    height: 455px;
    background-size: cover;
    background-position: center;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
        position: relative;

        .content {
            @include position();
            display: flex;
            flex-direction: column;
            background-color: rgba(142, 174, 1, 0.8);
            min-height: 270px;
            width: 440px;
            padding: 25px;
            border-radius: 5px;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

            .title, .subtitle, .type, .description {
                color: white;
            }

            .subtitle, .description {
                margin-top: 12px;
            }

            .scratch {
                color: white;
                margin-top: 12px;
                margin-bottom: -12px;
                text-decoration: line-through;
            }

            .description:last-child {
                font-weight: 500;
            }

            .custom-button {
                width: 80%;
                margin: 15px auto;
            }

            
        }
}